<div class = "row" id="title">
  <div class="large-12 columns">
  <h1 class="title" align="center">Unleash the Power of the Link.</h1>
</div>

</div>
<div class = "row">
  <div class="large-3 columns"></div>
  <div class="large-6 large-offset-3 columns">
    <form id="input" action="/" method="post"><br>
      <input id='text' type="text" name="url">
      <br>
      <a href="#" class="button expand">Expanded Button</a>
    </form>
    <div>
      <div>
      <p><%= short_url %></p>
      </div>
    </div>
<div class="large-3 columns"></div>
</div>

<div>
</div>
