<div class = "row" id="title">
  <div class="large-12 columns">
  <h2 class="title" align="center">Unleash the Power of the Link</h2>
</div>

</div>

<div class = "row">
  <div class="large-3 columns"></div>
  <div class="large-6 large-offset-3 columns">
    <form action="/" method="post">URL:<br>
      <input type="text" name="url"><input type="submit" class="button alert">
    </form>
  </div>
  <div class="large-3 columns"></div>
</div>


<div>
  <% short_url.each do |url| %>
    <%= url["short"] %>
  <% end %>
</div>
