<form action="/sign_up" class="form-horizontal" method="POST">
<fieldset>
<legend>Create Account</legend>
<div class="control-group">
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="input-xlarge">
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <button id="singlebutton" class="btn btn-primary">Button</button>
  </div>
</div>
</fieldset>
</form>
