<h1> Home </h1>

<a href="/clients">Client Management</a>
<br>
<a href="/charge_client">Client Payment Page</a></nav>
<br>
<a href="/charges">Revenue(charges)</a>
<br>
<a href="/stripe_clients">Stripe Clients</a>
<br>
<a href="/plans">Plans</a>
<br>
<a href="/bill">Bill</a>
<br>
<a href="">Account/Settings</a>
