<h1> This is where you create a new client </h1>
<p> this needs to happen dynamically in javascript</p>

<p> Posts client information to the database</p>

  <form action='/clients' method='POST'>
    <input type='Text' name='name' size='' placeholder='Name' >
    <br>
    <input type='Retainer Value' name='email' size='' placeholder='email' >
    <br>
    <input type='project' name='description' size='' placeholder='description' >
    <br>
    <button type='submit'>Create</button>
  </form>
