<h1>Create a new plan here: </h1>

<p><b>Needed<b>: id, amount, currency, interval </p>
  <form action='/plans' method='POST'>
    <input type='name' name='name' size='' placeholder='name'>
    <br>
    <input type='amount' name='amount' size='' placeholder='amount'>
    <br>
    <input type="radio" name="interval" value="month">Month<br>
    <input type="radio" name="interval" value="day">day<br>
    <input type="radio" name="interval" value="year">year<br>
    <br>
    <input type='id' name='id' size='' placeholder='id'>
    <br>
    <button type='submit'>Create</button>
  </form>
